
  
<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Alto Tráfico</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/empleados/">Empleados</a></li>
            <li><a href="#about">Pedidos</a></li>
            <li><a href="#contact">Obras</a></li>
            <li><a href="#contact">Inventario</a></li>
            <li><a href="#contact">Provedor</a></li>
            <li><a href="#contact">Clientes</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
</header>

<button type="button" class="btn btn-lg btn-default">Default</button>
<button type="button" class="btn btn-lg btn-default">Default</button>
<button type="button" class="btn btn-lg btn-default">Default</button>
<button type="button" class="btn btn-lg btn-default">Default</button>
<button type="button" class="btn btn-lg btn-default">Default</button>
<button type="button" class="btn btn-lg btn-default">Default</button>