<div class="input-group input-group-lg">
  <span class="input-group-addon" id="basic-addon1">@</span>
  <input type="text" class="form-control" placeholder="Usuario" aria-describedby="basic-addon1">
</div>

<div class="input-group input-group-lg">
  <span class="input-group-addon" id="basic-addon1">@</span>
  <input type="text" class="form-control" placeholder="Contraseña" aria-describedby="basic-addon1">
</div>

<div>
	<%= link_to "Ingresar", "clientes#index", class: "btn btn-lg btn-success" %>
</div>


